<h2>My Heroes</h2>
<ul class="heroes">
  <!--*ngFor on Angularin sisäänrakennettu iteraatiodirektiivi -->
  <!--class-binding tarkoittaa sitä, että CSS-tyyli sidotaan ehtoon, 
  ja jos ehto on tosi, tyyli esitetään. [class.tyylinnimi]="ehto" -->
  <li
    *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)"
  >
    <span class="badge">{{ hero.id }}</span> {{ hero.name }}
  </li>
</ul>

<!--selectedHero menee lapsikomponenttin, sen hero-muuttujaan. 
Tämä on property-binding, jolla tehdään tiedonvälitys äitikomponentista
lapsikomponenttiin. Tämä on @Input lapsikomponenttiin. -->

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
