<h2>My Heroes</h2>
<ul class="heroes">
  <!--*ngFor on Angularin sisäänrakennettu iteraatiodirektiivi -->
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">
      <!--dynaaminen linkki ei tarvitse hakasulkuja, kun se on esitetty tällä tavalla-->
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </a>
  </li>
</ul>

<!--selectedHero menee lapsikomponenttin, sen hero-muuttujaan. 
Tämä on property-binding, jolla tehdään tiedonvälitys äitikomponentista
lapsikomponenttiin. Tämä on @Input lapsikomponenttiin. -->

<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
